<!DOCTYPE html>
<html>
  <head>
    <title>Monetarily Management</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .menu {
        background-color: #48b6e2;
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
      }

      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      .menu li {
        margin: 0;
      }

      .menu a {
        display: block;
        padding: 24px;
        color: #fff;
        text-decoration: none;
      }

      .menu a:hover {
        text-decoration: underline;
      }

      .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .tiles {
        display: flex;
        gap: 20px;
      }

      .tile {
        width: 200px;
        height: 150px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
      }

      .tile:hover {
        background-color: #45a049;
        color: #fff;
      }

      .tile i {
        font-size: 54px;
        margin-bottom: 18px;
      }

      .tile span {
        font-size: 18px;
      }
      center h2{
        color: #48b6e2;
        margin-top: 2rem;
      }

      .button-container {
        margin-top: 20px;
      }

      .button {
        width: 300px;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      a{
        background-color: inherit;
        text-decoration: none;
        color: inherit;
      }
      .button:hover {
        background-color: #45a049;
      }
      
    </style>
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/show-budget">Budget</a></li>
        <li><a href="/">Goals</a></li>
        <li><a href="/show-report">Report</a></li>
      </ul>
    </div>
    <section>
      <div class="container">
        <h1>Welcome to Monetarily Management</h1>
        <p>Manage your funds with ease</p>
      </div>
      <div>
        <center>
          <h2>
            Current Balance: <%=currentBalance%>
          </h2>
        </center>
      </div>
    </section>
    <div class="container" id="Home">
      <div class="tiles">
        <a href="/add-money">
        <div class="tile">
          <i class="fas fa-plus"></i>
          <span>Add Income</span>
        </div>
      </a>
      <a href="/transaction-page">
        <div class="tile">
          <i class="fas fa-exchange-alt"></i>
          <span>Add Expense</span>
        </div>
      </a>
      </div>
    </a>
      <a href="/logout">
        <div class="button-container">
          <div class="button">
            Log Out
          </div>
        </div>
      </a>
    </a>
    </div>
  </body>
</html>
